@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                Role
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserManager.Users)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>
                    @{
                        var roles = await UserManager.GetRolesAsync(item);

                        string csr = string.Empty;

                        foreach (string role in roles)
                        {
                            if (csr.Trim().Length == 0)
                            {
                                csr = role;
                            }
                            else
                            {
                                csr = csr + ", " + role;
                            }
                        }
                    }
                    <span>@csr</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
